
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.author, .published{
    display: none;
}

body,.navbar, .footer, .navbar-menu{
    background-color: rgb(35, 35, 35);
}

.section, .link-text, i, .menu-label, .navbar-item{
    color: rgb(208, 206, 206) !important;
}

.modified{
    font-family: 'Space Mono', monospace !important;
}

h1, h2, h3 , p{
    color: rgb(208, 206, 206) !important;
    font-family: 'Space Mono', monospace;
    border: #727272;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-style: double;
    padding: 12px;
}

a:hover{
    background-color: rgb(88, 86, 100) !important;
}